<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="icon" href="/static/icon.png">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/wordcloud.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>
    <title>Sentiment-Analyzer</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/static/icon.png" alt="icon" width="24" height="24">
              </a>
            <a class="navbar-brand" href="/">Sentiment-Analyzer</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>


                </ul>
                </li>

                </form>
            </div>
        </div>
    </nav>

<style>
    body {
        margin: 0;
    }

    html {
        box-sizing: border-box;
    }

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }


    .about-section {
        padding: 50px;
        text-align: center;
        background-color: #474e5d;
        color: white;
    }
    .card {
        margin: 0 auto;
        float: none; 
        margin-bottom: 10px; 
    }


    @media screen and (max-width: 650px) {
        .column {
            width: 100%;
            display: block;
        }

</style>

</head>

<body>

    <div class="about-section">
        <h1>About</h1>
        <p>Hi there! I am Vikrant. Nice to see you here.</p>
        <p>This web-app is a smaller version of another web-app I created as a text analysis (Natural Language Processing) project. This web-app is not intended to collect cookies or be monetized.</p>
        <p>Tools used: Python, Flask, nltk (VADER package), text2emotion module, Highcharts & Bootstrap.</p>
        <p>If you are interested to contact me, my details are in the linkedin page mentioned in the card below.</p>
    </div>

<div class="container my-3">
    <h2 style="text-align:center">My Info:</h2>
</div>
                <div class="card my-5" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img class="card-img-top" src="/static/vikrant_profile.jpg" alt="vikrant" style="width: 100%;
        height: 100%;
        object-fit: cover">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Vikrant Thenge</h5>
                                <p class="card-text">I'm a Data Scientist & Machine Learning Ethusiast.</p>
                                <p class="card-text"><small class="text-muted">Check out my <a
                                            href="https://github.com/vikrantthenge" target="_blank" style="color: #474e5d;">Github
                                            profile</a> and <a href="https://www.linkedin.com/in/vthenge/" target="_blank" style="color: #474e5d;">Linkedin profile</a></small>
                                </p>
                            </div>
                        </div>
                    </div>

        </div>
        <br>
        <br>
        <br>

        <footer style="background-color: #F1F1F1; position: absolute; left: 0; right: 0; top: auto; bottom: auto; ">
            <p style="padding: 80px; margin-top: auto; text-align: center;">
                Thanks for using this app! <br><br><a href="/" style="color: black;"><b>Home</b></a></p>
        </footer>

    <br>
    <br>
    <br>
    <br>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>

    </body>

</html>
